:root {
  font-family: "Fjalla One", sans-serif;
}

body {
  background: linear-gradient(180deg, #0818ad3a, #9679ca7e);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
h1 {
  font-size: 35px;
  text-align: center;
}

.container {
  background-color: transparent rgba(255, 255, 255, 0.75);
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.432);
  padding: 200px 275px;
  border-bottom-right-radius: 2%;
  border-top-right-radius: 5%;
  border-bottom-left-radius: 2%;
  border-top-left-radius: 5%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 500px;
  overflow: hidden;
}

.input-container {
  bottom: 180px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  left: 45%;
  position: relative;
  appearance: none;
}

.input-day input,
.input-month input,
.input-year input {
  font-size: 35px;
  width: 240px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 16px;
  border: none;
  color: #0818ad88;
  background: rgba(117, 117, 117, 0.096);
  outline: none;
  font-family: "Fjalla One", sans-serif;
  box-sizing: border-box;
  text-align: center;
  appearance: none;
}

.calc-button button {
  margin-left: 520px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 2px solid #f8f8f8;
  background-color: #0818ad88;
  color: #f8f8f8;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calc-button button:hover {
  background-color: #0818ad5a;
}

.calcresults {
  font-size: 130px;
  margin-top: -125px;
  margin-left: -200px;
}
.colored {
  color: #0818ad88;
}
